body {
    background-color: black;
}

.FirstContainer {
    position: relative;
    width: 100%;
    height: 899px;
    top: 180px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.firstnavbox {
    position: static;
    top: 0;
    width: 100%;
    background-color: white;
    height: 157px;
    display: flex;
    justify-content: center;
}

.navcontainer {
    width: 92%;
    height: 78px;
    left: 60px;
    top: 42px;
    background: #000000;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.textbox {
    width: 165px;
    height: 37px;
    font-size: 25px;
    color: white;
}

.navcontainer .textbox {
    justify-content: center;
}

.image-container {
    position: relative;
    width: 397px;
    height: 391px;
    left: 50px;
    top: 151px;
    border-radius: 50%;
    background: url(./images/Profile\ Picture.JPG);
    background-size: 100%;
    background-position-y: center;
}
.paragraph-info {
    position: relative;
    width: 457px;
    height: 803px;
    left: -44;
    top: 48px;
    background: #FFFFFF;
}
.model-container {
    position: relative;
    height: 519px;
    width: 406px;
    top: 114px;
    left: -44px;
}

.paragraph-info p {
    text-align: center;
    font-size: 30px;
}

.paragraph-info h1 {
    text-align: center;
    font-size: 60px;
}