body {
    background-color: black;
}

.FirstContainer {
    position: absolute;
    width: 100%;
    height: 899px;
    left: 15px;
    top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-container {
    position: relative;
    width: 397px;
    height: 391px;
    left: 50px;
    top: 151px;
    border-radius: 50%;
    background: url(./images/Profile\ Picture.JPG);
    background-size: 100%;
    background-position-y: center;
}
.paragraph-info {
    position: relative;
    width: 457px;
    height: 803px;
    left: -44;
    top: 48px;
    background: #FFFFFF;
}
.model-container {
    position: relative;
    height: 519px;
    width: 406px;
    top: 114px;
    left: -44px;
}